* {
margin: 0;
padding: 0;
}

h1, form, ul, li{
	text-align: center;
	list-style-type: none;
	margin: 0;
}

h1{
	margin-bottom: 20px;
}

#mainUl{
	text-align: center;
}

#mainUl .new{
	width: 90%;
	background: -webkit-linear-gradient(#F06D2C, #EE2A26);
	border-radius: 5px;
	border: 1px solid black;
	margin-left:5%;
	margin-right:5%;
	margin-top: 15px;
	height: 40px;
	line-height: 40px;
	position: relative;
}

#mainUl .done{
	width: 90%;
	background: -webkit-linear-gradient(#B2D173, #488F54);
	border-radius: 5px;
	border: 1px solid black;
	margin-left:5%;
	margin-right:5%;
	margin-top: 15px;
	height: 40px;
	line-height: 40px;
	position: relative;
}

.container{
	height: 42px;
}

#mainUl .container:hover .new{
	-webkit-animation-name: toDoHover;
	        animation-name: toDoHover;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
    		animation-fill-mode: forwards;
}

#mainUl .container:hover #ul2{
	visibility: visible;
	z-index: 9999;
}

#ul2{
	position: relative;
	left: 71%;
	top: -61px;
	z-index: -5;
	transition: 0s z-index;
	transition-delay: .5s;
	visibility: hidden;
	width: 500px;
}

#ul22{
	position: relative;
	left: 71%;
	top: -41px;
	z-index: -5;
	transition: 0s z-index;
	transition-delay: .5s;
	visibility: hidden;
	width: 500px;
}

#mainUl .container:hover #ul22{
	visibility: visible;
	z-index: 9999;
}

#mainUl ul li{
	width: 40px;
	height: 40px;
	background-size: 100%;
	margin: 0;
	border: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	left: 0px;
	top: 0px;
	margin-left: 10px;
}

#mainUl ul li:hover{
	-webkit-animation: none;
	animation: none;
}

#input{
	background: -webkit-radial-gradient(#B2D173, #488F54) !important;
	line-height: 40px;
}

#submit:hover{
	-webkit-animation-name: spin;
	        animation-name: spin;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}

#editForm{
	position: relative;
	visibility: hidden;
	top: -31px;
	z-index: 999px;
}

#noAnimation{
	-webkit-animation: none !important;
	animation: none !important;
}

.noAnimation{
	-webkit-animation: none !important;
	animation: none !important;
}

#mainUl .container:hover .done{
	-webkit-animation-name: toDoHover2;
	        animation-name: toDoHover2;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
    		animation-fill-mode: forwards;
}

#mainUl .container:hover .done{
	-webkit-animation-name: toDoHover2;
	        animation-name: toDoHover2;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
    		animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes spin {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes toDoHover{
	from {right: 0%;}
	to {right: 16%;}
}
@keyframes toDoHover{
	from {right: 0%;}
	to {right: 16%;}
}

@-webkit-keyframes toDoHover2{
	from {right: 0%;}
	to {right: 13%;}
}
@keyframes toDoHover2{
	from {right: 0%;}
	to {right: 13%;}
}