* {
margin: 0;
padding: 0;
}

html{
	background-color: #8ACFF0;
}

h1, form, ul, li{
	text-align: center;
	list-style-type: none;
	margin: 0;
}

h1{
	margin-bottom: 20px;
}

#mainUl{
	text-align: center;
}

#mainUl li{
	width: 90%;
	background: -webkit-linear-gradient(#F06D2C, #EE2A26);
	border-radius: 5px;
	border: 1px solid black;
	margin-left:5%;
	margin-right:5%;
	margin-top: 15px;
	height: 40px;
	line-height: 40px;
	position: relative;
}

#mainUl li:hover{
	-webkit-animation-name: toDoHover;
	        animation-name: toDoHover;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
    		animation-fill-mode: forwards;
}

#mainUl ul li{
	width: 40px;
	height: 40px;
	background-size: 100%;
	margin: 0;
	border: none;
}

#mainUl ul li:hover{
	-webkit-animation: none;
	animation: none;
}

#input{
	background: -webkit-radial-gradient(#B2D173, #488F54) !important;
}

#submit:hover{
	-webkit-animation-name: spin;
	        animation-name: spin;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes spin {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-webkit-keyframes toDoHover{
	from {left: 0px;}
	to {left: 500px;}
}
@keyframes toDoHover{
	from {left: 0px;}
	to {left: 500px;}
}
